<h1>Listing items</h1>

<table id="items-table">
  <tr>
    <th>Name</th>
    <th>Properties</th>
    <th>Hash</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Item</a>